<!DOCTYPE html>
<head>
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
        <div class="container">
            <div class="row-fluid">
            <div id="legend">
                    <legend class="">My Cards</legend>
                  </div>
                {% ifnotequal request.session.error null %}
                <div id="alert" class="alert alert-danger">
                    {{ request.session.error }}
                </div>
                {% endifnotequal %}
                {% if request.session.error == null %}

              <table id="table" class="table">
            <thead>
                <tr>
                    <th>Card Number</th>
                    <th>Expire Date</th>
                </tr>
            </thead>
                <tbody>

                {% for c in request.session.card %}
                    <tr>
                        <th>{{ c.number }}</th>
                        <th>{{ c.expire_month }}/{{ c.expire_year }}</th>
                    </tr>

                {% endfor %}
            </tbody>
              </table>
            {% endif %}
            </div>
    </div>
</body>
</html>
