<!DOCTYPE html>
<head>
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="page-header">
  <h1> <i class="fa fa-credit-card-alt" aria-hidden="true"></i> EasyPayments</h1>
</div>
        <div class="container">
            <div class="row-fluid">
            <div id="legend">
                    <legend class="">My Cards</legend>
                  </div>
                {% ifnotequal request.session.error null %}
                <div id="alert" class="alert alert-danger">
                    {{ request.session.error }}
                </div>
                {% endifnotequal %}
                {% if request.session.error == null %}

              <table id="table" class="table">
            <thead>
                <tr>
                    <th>Card Number</th>
                    <th>Expire Date</th>
                </tr>
            </thead>
                <tbody>

                {% for c in request.session.card %}
                    <tr>
                        <th>{{ c.number }}</th>
                        <th>{{ c.expire_month }}/{{ c.expire_year }}</th>
                    </tr>

                {% endfor %}
            </tbody>
              </table>
            {% endif %}
            </div>
        <form id="form1" method="post" style="float: right" action="/api/v1/cards/create/" class="span1">
                <input type="hidden" id="user_id1" name="user_id" class="span2">

                <input style="width: 70px; vertical-align: top" type="submit" id="add_card" class="btn btn-success"
                                   value="Add">

            </form>
        <form id="form2" method="post" style="float: right" action="/api/v1/cards/update/" class="span1">


                <input type="hidden" id="user_id2" name="user_id" class="span2">

                <input style="vertical-align: top" type="submit" id="add_card" class="btn btn-info"
                                   value="Update">


            </form>
        <form id="form3" method="post" style="float: right" action="/api/v1/cards/delete/" class="span1">

                <input type="hidden" id="user_id3" name="user_id" class="span2">

                <input style="vertical-align: top" type="submit" id="delete_card" class="btn btn-danger"
                                   value="Delete">

            </form>
        <button type="button" id="cancel" style="float: left" onclick="window.close()"
                       class="btn btn-warning" value="Close">Close</button>
    </div>
<script type="text/javascript">
    window.onload = function () {
        var user_id1 = document.getElementById("user_id1");
        var user_id2 = document.getElementById("user_id2");
        var user_id3 = document.getElementById("user_id3");
        user_id1.value = window.location.href.split("/")[window.location.href.split("/").length - 2];
        user_id2.value = user_id1.value;
        user_id3.value = user_id1.value;
    }

</script>
</body>
</html>
